<div ng-controller='HomeController' class="container">
	<div class="row">
		<!-- Sidebar -->
		<div id="sidebar" class="3u">
			<section>
				<header class="major">
					<h2>Menu</h2>
				</header>
				<nav>
					<ul class="nav">
						<li><a href="#">Link 1</a></li>
						<li><a href="#" id="btn-1" data-toggle="collapse" data-target="#secMenu1" aria-expanded="false" ng-class="{active: isSegment('users') || isSegment('groups')}" access="ROLE_USER_MANAGER">Security</a>
							<ul class="nav collapse" id="secMenu1" role="menu" aria-labelledby="btn-1">
								<li ng-class="{active: isSegment('users')}"><a href="#/home/users">Users</a></li>
								<li ng-class="{active: isSegment('groups')}"><a href="#/home/groups">Groups</a></li>
							</ul>
					    </li>
						<li><a href="#">Link 3</a></li>
						<li><a href="#">Link 4</a></li>
					</ul>
				</nav>
			</section>
		</div>
		<!-- Content -->
		<div id="content" class="9u skel-cell-important" app-view-segment="1">
		</div>
	</div>
</div>