<div ng-controller='LoginController' class="12u skel-cell-important">
	<div class='container'>
    <header class="major main-title">
        <h2>Login to ISEE Staffing Solutions</h2>
    </header>
    <div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>
    <form class="form-horizontal" ng-submit="login(user)">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <div class="input-group input-group-lg">
                    <div class="input-group-addon">Username</div>
                    <input type="text" class="form-control" id="userId" placeholder="Enter User ID" ng-model="user.username" title="Enter valid Username" required />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-lg">
                    <div class="input-group-addon">Password</div>
                    <input type="password" class="form-control" id="password" placeholder="Enter Password" ng-model="user.password" title="Enter valid Password" maxlength="16" required="required" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group pull-right">
                    <button type="submit" class="button btn btn-default">Login</button>
                    <a href="#/register" class="button btn btn-warning">Register</a>
                </div>
            </div>
        </div>
    </form>
    </div>
</div>